.main_div{
    overflow: hidden;
}
.img {
    width: 100%;
    height: auto;
    z-index: 2;
}
.last_border{
    width: 100%;
    height: 10px;
    background-color: #EF5025;
}

@media (max-width:700px) {
    .img {
        height: 250px;
        width: auto;
    } 
}